In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as mlt
prakerja = pd.read_csv('dataset_prakerja.csv')
prakerja.head()

   tahun  gelombang  penerima
0   2020          1    164000
1   2020          2    288154
2   2020          3    224657
3   2020          4    800000
4   2020          5    800000

In [2]:
prakerja.to_csv('cleaned_prakerja.csv')